$base-input-color: #515151;

$base-blue-color: #67afdf;

$base-text: #333333;

$base-text-white: #d1d8e0;

$base-app-background-gray: #2D2D2D;

$base-app-background-gray-light: #3E3D3D;

$base-danger-color: #FE6053;

$gray-additional-light: #4F4F4F;

$base-text-gray: #828282;

$base-app-background-white: white;

$header-background: #2D2D2D;

$base-dark-bg: #313131;

$base-green: #83E576;


